.resize {
    width: 300px;
    height: auto;
}

.title {
	font-family: Lobster;
	font-size: 60px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

.backgroundimg {
	background-size: cover;
}

/* Css for Scrolling animation */
/* Style the header: fixed position (always stay at the top) */
.header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #eb8055f1;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #aa66cc;
  width: 0%;
}
